@page
@model ControlCenterApp.Pages.A3StdDistributorTypeL1s.IndexModel
@{
    ViewData["Title"] = "Distributor Type L1s";
}

<h1>Distributor Type L1s</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Group</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items)
{
        <tr>
            <td>@item.DistributorTypeL1</td>
            <td>@item.ObjDescription</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.ObjId">Edit</a> |
                <a asp-page="Delete" asp-route-id="@item.ObjId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
